@using TravelTripProje.Models.Siniflar
@model List<Lunaparklar>

@{
    ViewBag.Title = "Lunaparklar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a href="/Admin/YeniLunapark/" class="btn btn-primary">YENİ LUNAPARK </a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Baslik</td>
            <td>@Html.ActionLink("SİL", "LunaparkSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinize emin misiniz?')" })</td>
            <td><a href="/Admin/LunaparkGetir/@x.ID" class="btn btn-warning">GÜNCELLE</a></td>
        
        </tr>
    }

</table>


