<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Paneli </title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/admin2/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        .rating {
            float: left;
        }

            /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
        follow these rules. Every browser that supports :checked also supports :not(), so
        it doesn’t make the test unnecessarily selective */
            .rating:not(:checked) > input {
                position: absolute;
                top: -9999px;
                clip: rect(0,0,0,0);
            }

            .rating:not(:checked) > label {
                float: right;
                width: 1em;
                /* padding:0 .1em; */
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 300%;
                /* line-height:1.2; */
                color: #ddd;
            }

                .rating:not(:checked) > label:before {
                    content: '★ ';
                }

            .rating > input:checked ~ label {
                color: dodgerblue;
            }

            .rating:not(:checked) > label:hover,
            .rating:not(:checked) > label:hover ~ label {
                color: dodgerblue;
            }

            .rating > input:checked + label:hover,
            .rating > input:checked + label:hover ~ label,
            .rating > input:checked ~ label:hover,
            .rating > input:checked ~ label:hover ~ label,
            .rating > label:hover ~ input:checked ~ label {
                color: dodgerblue;
            }

            .rating > label:active {
                position: relative;
                top: 2px;
                left: 2px;
            }
    </style>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Gezi Rehberi Blog Sitesi</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/Index/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Bloglar</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Rehber
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/Oteller/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Oteller</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/Restorantlar/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Restorantlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/Muzeler/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Müzeler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/Lunaparklar/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Lunaparklar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/Kayak/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Kayak Merkezleri</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                İletişim
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/admin/iletisim/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>İletişim</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/Yorumlar/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Yorumlar</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                İletişim
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/Default/Index/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Siteye Git</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Search -->
                    <h3>Admin Paneli</h3>
                    <!-- Topbar Navbar -->

                </nav>
                <div style="margin-left:10px;">
                    @RenderBody()
                </div>
            </div>

        </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/admin2/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/admin2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/admin2/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="~/admin2/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/admin2/js/demo/chart-area-demo.js"></script>
    <script src="~/admin2/js/demo/chart-pie-demo.js"></script>
</body>
</html>
